<%= simple_form_for @article, :html => { multipart: true} do |f| %>
  <%= f.error_notification %>


    <%= f.input :title, class: 'form-control', placeholder: 'Please enter a title' %>
    <hr>
    <%= f.input :body, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
    <%= f.file_field :article_image %>
    <%= image_tag @article.article_image_url(:thumb).to_s if !@article.article_image_url(:thumb).to_s.empty? %>
    <%= f.check_box :remove_article_image %>
    <br><br>
    <p><%= f.input :published %></p>

    <p><%= f.association :article_category, collection: ArticleCategory.active.all(order: 'name'), label: 'Category', default: 'Please select a category' %></p>
    <br><br>
    <p><%= f.input :tag_list, label: 'Tags', placeholder: 'Separated by a comma' %></p>

    <%= f.button :submit, class: 'btn btn-info' %>
<% end %>
