<%= simple_form_for @article, :html => { :class => 'form-inline', :multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-group">

    <%= f.input :title %>

    <%= f.input :body %>
<br>
    <%= f.file_field :article_image %>

    <%= f.input :published %>

    <%= f.association :article_category, collection: ArticleCategory.active.all(order: 'name') %>

    <%= f.input :featured %>

    <%= f.input :tag_list %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
