<h3>
  <%= @article.title %>
</h3>
<p>
  Posted <%= time_ago_in_words(@article.created_at) %> ago by <%= link_to @article.user.name, profile_path(@article.user) %> in <%= link_to @article.article_category.name, category_path(@article.article_category.name) %>
</p>
<% if user_signed_in?  && (@article.user_id == current_user.id) %>
    <p>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-info' %>
      <%= link_to 'Delete', {:controller=>:articles,:action=>:destroy, :id=>@article}, class: 'btn btn-danger', :method=>:delete, data: { confirm: 'Are you sure you want to delete this article?' } %>
    </p>
<% end %>
<hr>
<% if !@article.article_image_url.to_s.empty? %>
<p><%= image_tag @article.article_image_url(:thumb).to_s %></p>
<% end %>
<p>
  <%= simple_format(@article.body) %>
</p>

<% unless @article.tag_list.empty? %>
<div class="sidebox">
    <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
</div>
<% end %>



<hr>
<%= render 'layouts/structure/disqus' %>