<div class="row" id="footer">
  <div class="row">
    <div class="col-md-3">
      <h4>About</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus     consectetur magna eget nisl fermentum semper. Donec ultricies nunc eu     ultrices adipiscing. In hendrerit laoreet eros nec porttitor. Aliquam in     egestas neque. Nam laoreet nisl id nibh auctor fringilla.</p>
    </div>
    <div class="col-md-3">
      <h4>Recent Articles</h4>
      <% @recent_featured_articles.each do |article| %>
          <p><%= link_to article.title, article %></p>
      <% end %>
    </div>
    <div class="col-md-3">
      <h4>Trending</h4>
      <%= render 'layouts/structure/tagcloud' %>
    </div>
    <div class="col-md-3">
      <h4>Our Partners</h4>
      <p><%= link_to 'Truckchasing.com', 'http://www.truckchasing.com' %></p>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8">
      <p>© <%= Time.now.year %> BestFoodTruckEver.com - All rights reserved. A <%= link_to('Stizel', 'http://www.stizel.com', html_options = { target: 'blank', rel: 'external'}) %> company.</p>
    </div>
    <div class="col-md-4 text-right">
         <%= render 'layouts/structure/footersharethis' %>
    </div>
  </div>

</div>


